.divimg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 300px;
  position: relative;
  border-radius: 7px;
}

@media only screen and (max-width: 576px) {
  .divimg {
    min-height: 230px;
  }
}
