.querydiv {
  border-radius: 6px;
  background-color: #262626;
  color: #fefefe;
  font-size: 0.87rem !important;
}
label {
  margin-bottom: 0px !important;
  color: #1a1a1a !important;
  font-weight: 500;
}

input,
textarea {
  font-size: 0.87rem !important;
}

iframe {
  border: 0px;
  border-radius: 9px;
}

.inner-info {
  background-color: #3d3d45;
  padding: 10px 15px;
  border-radius: 5px;
  margin-right: 12px;
}
