/* Carousel Styling */
.divcaroa,
.divcarob {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  padding-top: 110px;
}
.mynavbg {
  background-color: #2f2f2fe7;
}
.divcaroa {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/img3.jpg");
}

.divcarob {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/imgc.jpg");
}

.btnview {
  font-weight: 400 !important;
  font-size: 11px !important;
}

.carousel-indicators button {
  width: 0.6rem !important;
  height: 0.6rem !important;
  border-radius: 50%;
}

.relativecontainer {
  position: relative;
  height: 100%;
  /* background-color: aqua; */
}

.p_fonts {
  font-size: 0.87rem !important;
}

.whoweareright {
  padding: 60px 5px;
}

.whoweareleft {
  position: relative;
  height: 500px;
}

.getintouch {
  font-size: 0.78rem !important;
}

.mydiva {
  position: absolute;
  background-image: url("../../assets/img5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  left: 10%;
  right: 30%;
  top: 0px;
  bottom: 20px;
}

.mydivb {
  position: absolute;
  background-image: url("../../assets/img4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  left: 300px;
  right: 0px;
  top: 150px;
  bottom: 0px;
}

.yearsdiv {
  position: absolute;
  top: 30px;
}

.ourstaff {
  background-color: #141b25;
  color: #f9f9f9;
}

.singStaffdiv {
  background-color: #1d2736;
  border-radius: 10px;
  position: relative;
  /* background-color: #1d2736; */
}

.singStaffdiv:hover {
  background-color: #95989e;
  /* background-color: #1d2736; */
}

.staffa {
  background-image: url("../../assets/imga.jpg");
}
.staffb {
  background-image: url("../../assets/imgc.jpg");
}
.staffc {
  background-image: url("../../assets/img5.jpg");
}

.staffa,
.staffc,
.staffb {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  border-radius: 10px 10px 0px 0px;
}

.singStaffdiv:hover .staffa {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/imga.jpg");
}
.singStaffdiv:hover .staffb {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/imgc.jpg");
}
.singStaffdiv:hover .staffc {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/img5.jpg");
}

.padStaff {
  padding: 80px 0px;
}

.stafftitle {
  height: 100%;
  min-height: 200px;
  position: relative;
}

.staftinner {
  position: absolute;
  bottom: 30px;
}

.porfConta {
  padding: 50px 0px;
}

.portfo1,
.portfo2,
.portfo3,
.portfo4,
.portfo5,
.portfo6 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  position: relative;
  border-radius: 7px;
}

.portfo1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../assets/imgg.jpg");
}
.portfo2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../assets/imgd.jpg");
}
.portfo3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../assets/imgi.jpg");
}
.portfo4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../assets/imge.jpg");
}
.portfo5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../assets/imgf.jpg");
}
.portfo6 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../assets/imgh.jpg");
}

.innerPort {
  position: absolute;
  bottom: 0px;
}

.sul-footer {
  background-color: #111e45;
  color: #d3d1d1;
}

.testimo-split {
  background: linear-gradient(
    to right,
    #6452e8 0%,
    #6452e8 43%,
    #f9faff 43%,
    #f9faff 100%
  );
}

.customer-image {
  width: 50px;
  height: 52px;
  border-radius: 50%;
}

@media only screen and (max-width: 760px) {
  .divcaroa,
  .divcarob {
    height: 600px;
  }
}

@media only screen and (max-width: 576px) {
  .mydiva {
    left: 10%;
    right: 10%;
  }

  .mydivb {
    display: none;
  }
}
