.about,
.service,
.porfolio,
.blog,
.contact {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  padding-top: 110px;
  position: relative;
}
.about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/img1.jpg");
}
.service {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/img2.jpg");
}
.porfolio {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/imgf.jpg");
}
.blog {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/img2.jpg");
}
.contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/img2.jpg");
}
