@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap");
body,
.roboto {
  /* font-family: 'DM Sans', sans-serif; */
  font-family: "Roboto", sans-serif !important;
}

.sul-theme-green {
  color: #28df99 !important;
}

.sul-theme-green-bg {
  background-color: #28df99 !important;
}

.sul-theme-blue {
  color: #6452e8 !important;
}

.sul-theme-blue-bg {
  background-color: #6452e8 !important;
}

.sul-theme-dark {
  color: #6c6c6c;
}

.sul-theme-dark-bg {
  background-color: #6c6c6c;
}

.sul-black {
  color: #404040;
}
.sul-footer {
  background-color: #111e45;
  color: #d3d1d1;
}

/*FONT SIZES*/
.sul-h1 {
  font-size: large;
}

.sul-h2 {
  font-size: 1.8rem !important;
  font-weight: 500 !important;
  padding: 4px 0px !important;
  margin: 0px !important;
}

.sul-h3 {
  font-size: 1.3rem !important;
  font-weight: 400;
  padding: 4px 0px !important;
  margin: 0px !important;
}

.sul-small {
  font-size: 0.86rem !important;
}

/*FONT WEIGHT*/
.sul-semibold {
  font-weight: 500 !important;
}

.custom-light {
  font-weight: 300 !important;
}

.sul-normal {
  font-weight: 400 !important;
}
